$font-family : 'Dancing Script',
cursive;
$font-family2 : 'MedievalSharp',
cursive;
$colorBlue : #09B5BF;
$colorYellow : #F0C53B;
$colorGold : #d1bb95;


body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  h1,
  h2 {
    font-family: $font-family;
  }

  p {
    font-family: $font-family2;
  }

}
.deco {
  padding: 5px;
  background-color: $colorGold;
  border-radius: 3px;
  width:fit-content;
}

//-------Menu nav

header {
  font-family: $font-family;
  font-size: 50px;


  .navbar {
    height: auto;
    justify-content: space-around;
    background-color: $colorBlue !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .navbar-toggler {
      border-color: transparent !important;
    }



    .logo {
      padding: 10px;
      margin-left: 5%;


      img {
        margin-left: 20px;
        height: 90px;
        border-radius: 10%;
      }
    }

    .navbar-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;


      .nav-link {
        margin-bottom: 30px;
        height: 70px;
        background: linear-gradient(to top, $colorYellow 3%, rgba(255, 0, 0, 0) 4px, transparent 5px) no-repeat;
        background-size: 0 100%;
        transition: background-size .3s;
      }


      .nav-link:hover {
        background-size: 100% 100%;
        color: $colorYellow;

      }

    }

    
  .navbar-toggler:focus {
    
    box-shadow: 0 0 0 0; 
}
  
  
  
  

    @media screen and (max-width: 992px) {
      .navbar-collapse {
        background-color: $colorGold;

        .nav-link {
          background: linear-gradient(to top, $colorBlue 3%, rgba(255, 0, 0, 0) 4px, transparent 5px) no-repeat;
          background-size: 0 100%;
          transition: background-size .3s;
        }

        .nav-link:hover {
          background-size: 100% 100%;
          color: $colorBlue;
        }
      }

    }

  }
}


//-------Footer-----------

footer {
  background-color: $colorBlue;
  font-family: $font-family;

  .footContent {


    align-items: center;
    justify-content: center;

    p {
      font-size: 1.5em;
      ;
    }

    .footContent1 {
      .bloc-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    .footContent3 {

      .blocSocial {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logoSocial {
          margin: 3%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          width: 100%;

          a {
            margin: 5%;

            svg {
              fill: $colorYellow;
            }

            svg:hover {
              fill: #f0c63ba9
            }
          }
        }
      }
    }
  }
}



//------- Page légendaire ------

#pageLegendaire {
  
  
  

  section {
    display: flex;
    flex-direction: column;


    .videoContainer {
      position: relative;

      video {
        height: calc(100vh - 120px);
        width: 100vw;
        object-fit: cover;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;

      }

      .img img {
        width: 50vw;
        position: absolute;
        top: 25%;
        left: 25%;
        opacity: 0;
        animation: 20s animLogoMain;




      }

      @keyframes animLogoMain {
        0% {
          opacity: 0;
        }

        75% {
          opacity: 1;
        }

        100% {
          opacity: 0;
        }

      }

      button {
        background-color: transparent;
        border: none;
      }

      button img {
        height: 25px;
        width: 25px;
        position: absolute;
        bottom: 70px;
        right: 20px;
      }

      .hiddenButton {
        display: none;
        transition: 0.3s;
      }

      #pleinEcran{
        svg{
          position: absolute;
          bottom: 70px;
          left: 20px;

        }
      }
    }

    .banderole {
      margin-top: -35px;
      width: 102%;
    }


  }

  .container-fluid {
    width: auto;
    margin-left: 10%;
    margin-right: 10%;



    .part1 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 5% 0 5% 0;


      img {
        height: 100%;
        width: 100%;
      }

      .content1 {
        display: flex;
        flex-direction: column;
        padding-left: 10%;

      }

    }

    .part2 {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 0 5% 0;

      div:nth-child(2) {
        display: flex;
        justify-content: center;


        img {
          width: 100%;
        }
      }

    }

    .part3 {
      margin: 0 0 5% 0;
      .col-md-4:nth-child(1){
        margin-top: -45px;
      }

      p {
        text-align: justify;
      }

    }

    .part4 {
      margin: 0 0 5% 0;

      img {
        width: 100%;
      }
    }

    .part5 {
      margin: 0 0 5% 0;
    }
  }

  .ornement {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;

    img {
      width: 250px;

    }

    img:hover {
      animation-name: vibrate-fast;
      animation-duration: 1s;
      animation-timing-function: ease;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
    }

    @keyframes vibrate-fast {
      0% {
        transform: translate(0);
      }

      10% {
        transform: translate(-2px, -2px);
      }

      20% {
        transform: translate(2px, -2px);
      }

      30% {
        transform: translate(-2px, 2px);
      }

      40% {
        transform: translate(2px, 2px);
      }

      50% {
        transform: translate(-2px, -2px);
      }

      60% {
        transform: translate(2px, -2px);
      }

      70% {
        transform: translate(-2px, 2px);
      }

      80% {
        transform: translate(-2px, -2px);
      }

      90% {
        transform: translate(2px, -2px);
      }

      100% {
        transform: translate(0);
      }
    }

  }
  h2{
    margin-left: 30px;
    position: relative;
    
}
h2::after{
  display: block;
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    background-image: url(./icon/19.png);
    background-repeat: no-repeat;    
    background-size: contain;
    top: 5px;
    left: -30px;
}


}

@media screen and (max-width:768px) {
  .part1 {
    flex-wrap: wrap !important;
  }

  .part2 {
    flex-wrap: wrap-reverse !important;
  }

  .part1 .col-md-4,
  .part2 .col-md-4 {
    margin-bottom: 10%;
  }

  .part3{
    .col-md-4:nth-child(1){
      margin-top: 0px !important;
    }
  }
}


//---------- page Rencontre  -------------

#pageRencontre {
  font-family: $font-family;
  background-color: $colorGold;

  h1 {
    font-size: 3em;

  }




  input,
  select,
  textarea {
    border-color: $colorBlue;
    font-size: 1.5em;
  }

  .btn-success {
    background-color: $colorYellow;
    border-color: $colorBlue;

  }

  .btn-success:hover {
    color: $colorBlue
  }


  .content-2 {
    margin-top: 5%;
    margin-bottom: 5%;

    h1 {
      margin-bottom: 2%;
    }

    .backgroundMaps {
      background-color: white;
      padding: 15px;
      border-radius: 0.25rem;
      margin-bottom: 5%;

      .map-responsive {
        overflow: hidden;
        padding-bottom: 90%;
        position: relative;
        height: 0;

      }


      iframe {
        border-radius: 0.25rem;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;

      }
    }



  }
}

//------- Page festivité -----

#page_festivite{
  .container{
    
    article{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1{
        margin: 5% 0 5% 0;
      }
      p{
        text-align: center;
      }

      .deco{
        margin: 5% 0 5% 0;
        img{
         
          width: 100%;
          
        }
      }
    }

    aside{
      a{
        color: #212529;
      }
      li:hover{
        background-color: #d1bb9593;
      }
      .active{
        background-color: #d1bb95;
        border-color: transparent;
      }
    }
    @media screen and(max-width:780px){
      .row{
        flex-direction: column-reverse;
      }
    
   }

  }
 #affiche, #planning{
   .modal-content{
     width: fit-content;

     .modal-body{
      position: relative;
      padding: 0;

      button{
        position: absolute;
        top: 10px;
        right: 10px;
      }
       
      img{
         width: 100%;
         height: 100%;
       }
     }

   }
  }
  
}

//------ Page Péllicule


#pagePellicule {
  background-color: $colorGold;
  font-family: $font-family;

  h1 {

    font-size: 3em;
  }

  .content2 {
    margin-top: 3%;
    margin-bottom: 5%;
    background-color: white;
    padding: 15px;
    border-radius: 0.25rem;
    width: fit-content;
  }

  .h-100{
    width: inherit;
  }

}