body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

header .navbar {
  height: 120px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #09B5BF !important;
}

header .navbar .logo {
  padding: 10px;
  margin-left: 5%;
}

header .navbar .logo img {
  margin-left: 20px;
  height: 90px;
  border-radius: 10%;
}

header .navbar .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-nav .nav-link {
  margin-bottom: 30px;
  height: 70px;
  background: linear-gradient(to top, #F0C53B 3%, rgba(255, 0, 0, 0) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

header .navbar .navbar-nav .nav-link:hover {
  background-size: 100% 100%;
  color: #F0C53B;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

section .videoContainer video {
  height: calc(100vh - 120px);
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

section .videoContainer .img img {
  width: 50vw;
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0;
  -webkit-animation: 20s animLogoMain;
          animation: 20s animLogoMain;
}

@-webkit-keyframes animLogoMain {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animLogoMain {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

section .videoContainer button img {
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: 70px;
  right: 20px;
}

section .videoContainer .hiddenButton {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#pageRencontre {
  font-family: "Dancing Script", cursive;
  background-color: #d1bb95;
}

#pageRencontre h1 {
  font-size: 4em;
}

#pageRencontre input, #pageRencontre select, #pageRencontre textarea {
  border-color: #09B5BF;
  font-size: 1.5em;
}

#pageRencontre .btn-success {
  background-color: #F0C53B;
  border-color: #09B5BF;
}

#pageRencontre .btn-success:hover {
  color: #09B5BF;
}

#pageRencontre .content-2 {
  margin-top: 5%;
}

#pageRencontre .content-2 h1 {
  margin-bottom: 2%;
}

#pageRencontre .content-2 .backgroundMaps {
  background-color: white;
  padding: 15px;
  border-radius: 0.25rem;
  margin-bottom: 5%;
}

#pageRencontre .content-2 .backgroundMaps .map-responsive {
  overflow: hidden;
  padding-bottom: 90%;
  position: relative;
  height: 0;
}

#pageRencontre .content-2 .backgroundMaps iframe {
  border-radius: 0.25rem;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#pagePellicule {
  background-color: #d1bb95;
  font-family: "Dancing Script", cursive;
}

#pagePellicule .content2 {
  margin-top: 3%;
  background-color: white;
  padding: 15px;
  border-radius: 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=style.css.map */