body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body h1,
body h2 {
  font-family: "Dancing Script", cursive;
}

body p {
  font-family: "MedievalSharp", cursive;
}

header {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
}

header .navbar {
  height: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #09B5BF !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

header .navbar .navbar-toggler {
  border-color: transparent !important;
}

header .navbar .logo {
  padding: 10px;
  margin-left: 5%;
}

header .navbar .logo img {
  margin-left: 20px;
  height: 90px;
  border-radius: 10%;
}

header .navbar .navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar .navbar-nav .nav-link {
  margin-bottom: 30px;
  height: 70px;
  background: linear-gradient(to top, #F0C53B 3%, rgba(255, 0, 0, 0) 4px, transparent 5px) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .3s;
  transition: background-size .3s;
}

header .navbar .navbar-nav .nav-link:hover {
  background-size: 100% 100%;
  color: #F0C53B;
}

header .navbar .navbar-toggler:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

@media screen and (max-width: 992px) {
  header .navbar .navbar-collapse {
    background-color: #d1bb95;
  }
  header .navbar .navbar-collapse .nav-link {
    background: linear-gradient(to top, #09B5BF 3%, rgba(255, 0, 0, 0) 4px, transparent 5px) no-repeat;
    background-size: 0 100%;
    -webkit-transition: background-size .3s;
    transition: background-size .3s;
  }
  header .navbar .navbar-collapse .nav-link:hover {
    background-size: 100% 100%;
    color: #09B5BF;
  }
}

footer {
  background-color: #09B5BF;
  font-family: "Dancing Script", cursive;
}

footer .footContent {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footContent p {
  font-size: 1.5em;
}

footer .footContent .footContent1 .bloc-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footContent .footContent3 .blocSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footContent .footContent3 .blocSocial .logoSocial {
  margin: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

footer .footContent .footContent3 .blocSocial .logoSocial a {
  margin: 5%;
}

footer .footContent .footContent3 .blocSocial .logoSocial a svg {
  fill: #F0C53B;
}

footer .footContent .footContent3 .blocSocial .logoSocial a svg:hover {
  fill: #f0c63ba9;
}

#pageLegendaire .deco {
  padding: 5px;
  background-color: #d1bb95;
  border-radius: 3px;
}

#pageLegendaire section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pageLegendaire section .videoContainer {
  position: relative;
}

#pageLegendaire section .videoContainer video {
  height: calc(100vh - 120px);
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#pageLegendaire section .videoContainer .img img {
  width: 50vw;
  position: absolute;
  top: 25%;
  left: 25%;
  opacity: 0;
  -webkit-animation: 20s animLogoMain;
          animation: 20s animLogoMain;
}

@-webkit-keyframes animLogoMain {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animLogoMain {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#pageLegendaire section .videoContainer button {
  background-color: transparent;
  border: none;
}

#pageLegendaire section .videoContainer button img {
  height: 25px;
  width: 25px;
  position: absolute;
  bottom: 70px;
  right: 20px;
}

#pageLegendaire section .videoContainer .hiddenButton {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#pageLegendaire section .banderole {
  margin-top: -30px;
  width: 102%;
}

#pageLegendaire .container-fluid {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

#pageLegendaire .container-fluid .part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 5% 0 5% 0;
}

#pageLegendaire .container-fluid .part1 img {
  height: 100%;
  width: 100%;
}

#pageLegendaire .container-fluid .part1 .content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 10%;
}

#pageLegendaire .container-fluid .part2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 5% 0;
}

#pageLegendaire .container-fluid .part2 div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#pageLegendaire .container-fluid .part2 div:nth-child(2) img {
  width: 100%;
}

#pageLegendaire .container-fluid .part3 {
  margin: 0 0 5% 0;
}

#pageLegendaire .container-fluid .part3 .col-md-4:nth-child(1) {
  margin-top: -45px;
}

#pageLegendaire .container-fluid .part3 p {
  text-align: justify;
}

#pageLegendaire .container-fluid .part4 {
  margin: 0 0 5% 0;
}

#pageLegendaire .container-fluid .part4 img {
  width: 100%;
}

#pageLegendaire .container-fluid .part5 {
  margin: 0 0 5% 0;
}

#pageLegendaire .ornement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

#pageLegendaire .ornement img {
  width: 250px;
}

#pageLegendaire .ornement img:hover {
  -webkit-animation-name: vibrate-fast;
          animation-name: vibrate-fast;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

@-webkit-keyframes vibrate-fast {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate-fast {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

#pageLegendaire h2 {
  margin-left: 30px;
  position: relative;
}

#pageLegendaire h2::after {
  display: block;
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  background-image: url(./icon/19.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 5px;
  left: -30px;
}

@media screen and (max-width: 768px) {
  .part1 {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .part2 {
    -ms-flex-wrap: wrap-reverse !important;
        flex-wrap: wrap-reverse !important;
  }
  .part1 .col-md-4,
  .part2 .col-md-4 {
    margin-bottom: 10%;
  }
  .part3 .col-md-4:nth-child(1) {
    margin-top: 0px !important;
  }
}

#pageRencontre {
  font-family: "Dancing Script", cursive;
  background-color: #d1bb95;
}

#pageRencontre h1 {
  font-size: 3em;
}

#pageRencontre input,
#pageRencontre select,
#pageRencontre textarea {
  border-color: #09B5BF;
  font-size: 1.5em;
}

#pageRencontre .btn-success {
  background-color: #F0C53B;
  border-color: #09B5BF;
}

#pageRencontre .btn-success:hover {
  color: #09B5BF;
}

#pageRencontre .content-2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

#pageRencontre .content-2 h1 {
  margin-bottom: 2%;
}

#pageRencontre .content-2 .backgroundMaps {
  background-color: white;
  padding: 15px;
  border-radius: 0.25rem;
  margin-bottom: 5%;
}

#pageRencontre .content-2 .backgroundMaps .map-responsive {
  overflow: hidden;
  padding-bottom: 90%;
  position: relative;
  height: 0;
}

#pageRencontre .content-2 .backgroundMaps iframe {
  border-radius: 0.25rem;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#pagePellicule {
  background-color: #d1bb95;
  font-family: "Dancing Script", cursive;
}

#pagePellicule h1 {
  font-size: 3em;
}

#pagePellicule .content2 {
  margin-top: 3%;
  margin-bottom: 5%;
  background-color: white;
  padding: 15px;
  border-radius: 0.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
/*# sourceMappingURL=style.css.map */